<h1 mat-dialog-title>Recuperar Contraseña</h1>
<mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="grid grid-cols-2 gap-4 p-4">
      <app-input typeForm="text" label="Usuario" [controller]="usuario" placeholder="Usuario..."></app-input> 
      <app-input typeForm="password" label="Nueva Contraseña" [controller]="password" ></app-input> 
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button type="button" class="ml-2 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" (click)="recover()">Guardar</button>
    <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" (click)="close()">Cancelar</button>
  </mat-dialog-actions>
